

<div>
<div class="col-md-12">
	<h3><center><u>Current Endeavours</u></center></h3>
	<p><center>I am currently learning the AngularJS framework with Javascript. I'm specifically 
				practicing with the development of a UI for control systems.</center></p>
	<p><a class="btn" href="http://angularjs.org/">Angular.js Details &raquo;</a></p>
</div><!--/span-->
</div>

<div>
<div class="col-md-12">
	<h4><center><i>Android Development</i></center></h4>
	<p><center>I have learned android development at the beginning of my co-op. I have made prototype of a
				thermostat design for a 7 inch tablet which complete functionality</center></p>
	<p><a class="btn" href="https://developer.android.com/index.html">Android Development Details &raquo;</a></p>
</div><!--/span-->
</div>

<div id="simple" ng-controller="view1Ctrl">
  <p>Let's send some information to the links tab</p>
  <input type="text" placeholder="Enter something" class="form-control" ng-model="message" >
  <button class="btn btn-inverse" ng-click="callNotify(message);">SEND</button>
  <p>(type any string and press SEND)</p>
</div>
